
.header{
    width: 100vw;
}
.navItemCustom{
    padding-left: 26px;
    padding-right: 26px;
}
.navbarExpandCustom{
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
.containerFluidCustom{
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: auto auto;
}
.dropdownToggle::after{
    position: relative;
    top: 4px;
}
.dropdownMenuShow{
    width: 200px;
}